@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif;
}

html {
    font-size: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 1.9rem;
}

p {
    font-size: 1.8rem;
}
.black{
    color: #222;
}

header {
    width: 100%;
    height: 5rem;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    z-index: 333;
}
.container{
    width:96%;
    max-width: 117rem;
    margin:0 auto;
}
.navbar{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 , 1.5rem;
}
.navbar h1{
    text-transform: uppercase;
    color:#5b5963;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}
.navbar ul{
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar ul a{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color:#5b5963;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}
.navbar ul a:hover{
    color:white;
    background-color: #fd735a;
}
.hero{
    max-width:114rem;
    height:40rem;
    background: url(https://media.istockphoto.com/id/1300384615/photo/string-light-bulbs-at-sunset.jpg?s=612x612&w=0&k=20&c=N695nAFz9YSNxynM3auPznfA3E6wXc8D6P60bN1MaEk=)
    no-repeat center center / cover;
    margin: 5rem  auto;
}
main{
    width: 100%;
    max-width:80rem;
    background-color:white;
    margin:0 auto;
    padding:3rem;
    border-radius:1.5rem;
    margin-top:-15rem;
}
main h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}
main .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:3rem 0;
}
main .profile-container .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
main  .profile-container .profile .img-container{
    width:6rem;
    height:6rem;
    background: url(https://www.w3schools.com/howto/img_avatar2.png) no-repeat center center / cover;
    border-radius: 0.5rem;
}
main .profile-container .profile .text{
    margin: 1rem;
    color:#5b5963;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.profile .text h3{
    text-transform: uppercase; 
}
.btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding:0.3rem 1.5rem;
    background-color: #fd735a;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

main p{
    color:#5b5963;
    margin:1rem 0;
}
main .content p{
   color:1rem 0;
   color:#5b5963;  
}
main .content h4{
    font-size: 1.8rem;
    font-weight: 600;
    color: #5b5963;
    margin: 2rem 0;
}
main .content .content-img-container{
    width: 100%;
    height:55rem;
    background: url(https://redefinestatus.com/_next/image?url=https%3A%2F%2Fwww.notion.so%2Fimage%2Fhttps%253A%252F%252Fs3-us-west-2.amazonaws.com%252Fsecure.notion-static.com%252F569cc3d3-0559-487b-a125-eb72a4d91ab8%252FScreen_Shot_2023-03-08_at_10.16.09_PM.png%3Ftable%3Dblock%26id%3Da24b96b7-d44c-429d-9241-9bc1c046c223%26cache%3Dv2&w=3840&q=75)
    no-repeat center center / cover;
}
blockquote{
    font-size: 2.0rem;
    padding:1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 #fd735a;
    background-color: #f5f5f5;
    font-style: italic;
}
.tags{
    display: flex;
    align-items: center;
}
.tags p{
    font-size: 1.4rem;
    text-transform: capitalize;
}
.tags a{
    display: inline-block;
    padding:0.3rem 1.5rem;
    background-color: #f5f5f5;
    color:#5b5963;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin:  0 0.5 rem;
}
.articles{
    width: 100%;
    background-color: #f5f5f5;
    margin: 5rem 0;
    padding: 5rem 0;
}
.articles .articles-heading{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: relative;
}
.articles-heading h5{
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    color:rgba(223 , 223 , 223 , 0.308);
}
.articles-heading h6{
    font-size:4rem;
    font-weight: 200;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    color: #5b5963;
}
.cards{
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    gap:5rem;
}
.cards .card-container{
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.cards .card-container .img-holder{
    max-width: 100%;
    height:24rem;
    background: url(https://media.istockphoto.com/id/1256603011/photo/business-network-concept-customer-support-shaking-hands.jpg?s=612x612&w=0&k=20&c=uRYJ6c2EyNO92w0wQlCScEVwbdoyHaXzfIxw1q7zNLA=) no-repeat center center / cover;
    position: relative;
}
.cards .card-container.two .img-holder{
    background: url(https://media.istockphoto.com/id/1256603011/photo/business-network-concept-customer-support-shaking-hands.jpg?s=612x612&w=0&k=20&c=uRYJ6c2EyNO92w0wQlCScEVwbdoyHaXzfIxw1q7zNLA=) no-repeat center center / cover;
}
.cards .card-container.three .img-holder{
    background: url(https://media.istockphoto.com/id/1256603011/photo/business-network-concept-customer-support-shaking-hands.jpg?s=612x612&w=0&k=20&c=uRYJ6c2EyNO92w0wQlCScEVwbdoyHaXzfIxw1q7zNLA=) no-repeat center center / cover;
}
.cards .card-container .img-holder a{
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
    display: inline-block;
    color:#429598;
    font-weight: 400;
    position: absolute;
    bottom: 5%;
    right:5%;
    transition: all 0.4s ease;
}
.card-container:hover{
    transform: translate(-1rem);
}
.cards .card-container:hover a{
    background-color: #fd735a;
    color:white;
}
.cards .card-container .card-text{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 0 0.3rem grey;
}
.cards .card-container .card-text p{
    font-size: 1.4rem;
}
.articles .button{
    margin: 0 auto;
    text-align: center;
}
.articles .btn{
   font-size: 1.4rem;
   letter-spacing: 1px;
   font-weight: 200;
   border-radius: none;
   padding: 0.5rem 3rem;
}
footer{
    background-color: #222;
    padding: 3rem 0;
}
.icons{
    text-align: center;
}
.icons .social{
    font-size: 3rem;
    color:grey;
    padding: 1rem;
    transition: all 0.4s ease;
}
.icons .social i:hover{
    color:white;
    cursor: pointer;
}
.icons .copyright p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color:white;
    margin:2rem 0;
}

.link{
    text-decoration: underline;
}
